body {
	font-family: Arial;
	margin: 0px;
}

h1 {
	color: #D33381;
	border-bottom: black 3px dotted;
}

h2 {
	color: #721741;
}

li {
	list-style-type: square;
}

pre {
	background-color: #FAFAFA !important;
	border-left: 5px solid lightgray !important;
	padding: 10px !important;
	margin-left: 20px !important;
	width: 90% !important;
	font-size: large;
}

code, tt {
	font-size: 1.3em;
	font-weight: bold;
}

blockquote {
	background-color: #FFFFAA;
	font-style: italic;
	border-left: 5px solid #AAAA00;
	padding: 10px !important;
	margin-left: 20px !important;
	width: 90% !important;
}

a:visited, a:active, a:link {
	color: #D33381;
}

a:hover {
	text-decoration: none;
}

#navigation {
	background: black url('../images/black-shade.png') repeat-x top;
	color: white;
	padding: 5px;
	height: 73px;
}

#navigation ul {
	margin-left: 50px;
	list-style: none;
}

#navigation ul li {
	padding: 20px;
	display: inline;
}

#navigation ul li:hover {
	color: #D33381;
	border-bottom: 10px solid;	
}

#navigation ul li a {
	font-size: 24pt;
	font-weight: bold;
	text-decoration: none;
}

#navigation ul li a:visited, #navigation ul li a:active, #navigation ul li a:link {
	color: white;
}

#navigation ul li a:hover {
	color: #D33381;
}

#header {
	background: white url('../images/gray-shade.png') repeat-x bottom;
	padding: 20px;
}

#content {
	background: #FFE0F6 url('../images/pink-shade.png') repeat-x top;
	padding: 20px;
	padding-right: 40px;
	padding-left: 115px;
}

#footer {
	background: white url('../images/gray-shade-top-down.png') repeat-x top;
	color: #555;
	text-align: center;
	padding: 20px;
	height: 100px;
}