get "/somewhere", forward: "/somewhere.groovy"

all "/ignore", ignore: true

get "/redirect", redirect: "/elsewhere.gtpl"

get "/@cust/home", forward: "/customer.groovy?cust=@cust", namespace: { cust }