<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>GroovletServlet</servlet-name>
        <servlet-class>groovyx.gaelyk.GaelykServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemplateServlet</servlet-name>
        <servlet-class>groovyx.gaelyk.GaelykTemplateServlet</servlet-class>
    </servlet>
    <!-- Uncomment the following servlet definition if you want to receive XMPP messages-->
    <!--
    <servlet>
        <servlet-name>XmppServlet</servlet-name>
        <servlet-class>groovyx.gaelyk.GaelykXmppServlet</servlet-class>
    </servlet>
    -->
    <!-- Uncomment the following servlet definition if you want to receive incoming email messages-->
    <!--
    <servlet>
        <servlet-name>IncomingEmailServlet</servlet-name>
        <servlet-class>groovyx.gaelyk.GaelykIncomingEmailServlet</servlet-class>
    </servlet>
    -->

    <servlet-mapping>
        <servlet-name>GroovletServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemplateServlet</servlet-name>
        <url-pattern>*.gtpl</url-pattern>
    </servlet-mapping>
    <!-- Uncomment the following servlet mapping if you want to receive XMPP messages-->
    <!--
    <servlet-mapping>
        <servlet-name>XmppServlet</servlet-name>
        <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>
    -->
    <!-- Uncomment the following servlet mapping if you want to receive incoming email messages-->
    <!--
    <servlet-mapping>
        <servlet-name>IncomingEmailServlet</servlet-name>
        <url-pattern>/_ah/mail/*</url-pattern>
    </servlet-mapping>
    -->

    <!-- Uncomment the following security constraint if you want to secure your incoming email endpoint -->
    <!-- Only allow the SDK and administrators to have access to the incoming email endpoint -->
    <!--
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/_ah/mail/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    -->

    <welcome-file-list> 
        <welcome-file>index.gtpl</welcome-file> 
    </welcome-file-list>
</web-app>
